/*----- Title styling with animation -----*/

h1 {
  font-family: 'Orbitron', sans-serif;
  color: #4eec1d;
  position: relative;
  display: block;
  margin: 100px;
  padding: 25px 30px;
  font-size: 4em;
  font-weight: 200;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  overflow: hidden;
  transition: all 0.5s linear 0;
}

h1:hover {
  cursor: pointer;
}

h1 .snake {
  position: absolute;
  display: block;
}

h1 .snake {
  top: 0;
  left: 0;
  width: 100%;
  height: 2em;
  background: linear-gradient(90deg, transparent, #30701d);
  animation: snake 4s linear infinite;
}

@-webkit-keyframes snake {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

@keyframes snake {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

/* ----- Overlay settings ----- */

body {
  background-color: #000;
}

.gamecontainer {
  position: relative;
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#playground {
  display: none;
  background-image: url('../images/11.jpg');
  background-size: cover;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  position: absolute;
  animation: sidescroller 40s linear infinite;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

@-webkit-keyframes sidescroller {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: -100vw;
  }
}

@keyframes sidescroller {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: -100vw;
  }
}

#menu {
  position: absolute;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  background: #000;
  opacity: 1;
  transition: all 1s linear;
}

p {
  font-family: 'Orbitron', sans-serif;
  position: relative;
  display: inline-block;
  margin: 50px;
  color: #4eec1d;
  font-size: 18px;
  letter-spacing: 1.3px;
  line-height: 30px;
  text-align: center;
}

#score {
  font-family: 'Orbitron', sans-serif;
  color: #4eec1d;
  position: absolute;
  margin: 20px 0 0 20px;
  font-size: 3em;
  font-weight: 200;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
}

/*----- Button styling with four snakes -----*/

#button {
  font-family: 'Orbitron', sans-serif;
  z-index: 5;
  position: relative;
  display: inline-block;
  padding: 25px 30px;
  margin: 40px 10px;
  color: #4eec1d;
  font-size: 24px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  overflow: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#button:hover {
  background: #4eec1d;
  color: #000;
  box-shadow: 0 0 6px #4eec1d, 0 0 30px #4eec1d, 0 0 60px #4eec1d,
    0 0 120px #4eec1d;
}

a:hover,
p:hover {
  cursor: pointer;
}

a .snake {
  position: absolute;
  display: block;
}

a .snake:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, transparent, #4eec1d);
  animation: snake1 1s linear infinite;
}

@keyframes snake1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

a .snake:nth-child(2) {
  top: -100%;
  right: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #4eec1d);
  animation: snake2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes snake2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

a .snake:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 3px;
  background: linear-gradient(270deg, transparent, #4eec1d);
  animation: snake3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes snake3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

a .snake:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #4eec1d);
  animation: snake4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes snake4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

/*----- Game objects -----*/

#explosions {
  height: 100vh;
  width: 100vw;
  position: absolute;
}

.explosion {
  background-image: url('../images/explosion.png');
  background-size: cover;
  transform: rotate(0deg);
  height: 0px;
  width: 0px;
  position: absolute;
  top: 0;
  left: 0;
  animation: explode 0.8s ease-out 2;
}

@keyframes explode {
  0% {
    transform: translate(0px, 0px) rotate(0deg) scale(0);
    width: 80px;
    height: 80px;
  }
  8% {
    transform: translate(15px, 30px) rotate(0deg) scale(2);
  }
  16% {
    transform: translate(0px, 0px) rotate(0deg) scale(0);
  }
  24% {
    transform: translate(-15px, -30px) rotate(0deg) scale(1.2);
  }
  32% {
    transform: translate(-5px, -10px) rotate(0deg) scale(0);
  }
  40% {
    transform: translate(10px, 20px) rotate(0deg) scale(1.7);
  }
  48% {
    transform: translate(-15px, -5px) rotate(0deg) scale(0);
  }
  100% {
    transform: translate(0px, 0px) rotate(20deg) scale(3.3);
    width: 80px;
    height: 80px;
  }
}

#spaceship {
  background-image: url('../images/spaceship.png');
  transform: rotate(90deg);
  background-size: cover;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 400px;
  left: 100px;
}

.alien {
  background-image: url('../images/enemy.png');
  background-size: cover;
  height: 30px;
  width: 30px;
  position: absolute;
}

#rockets {
  height: 100vh;
  width: 100vw;
  position: absolute;
}

.rocket {
  background-image: url('../images/rocket.png');
  background-size: cover;
  transform: rotate(270deg);
  height: 20px;
  width: 14px;
  position: absolute;
}

#lasers {
  height: 100vh;
  width: 100vw;
  position: absolute;
}

.laser {
  background-image: url('../images/laser.png');
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  background-size: cover;
  height: 18px;
  width: 7px;
  position: absolute;
}

#energy {
  height: 100vh;
  width: 100vw;
  position: absolute;
}

.energybomb {
  background-image: url('../images/energy2.png');
  background-size: cover;
  height: 15px;
  width: 15px;
  position: absolute;
}

