
/* flaticon attribution = <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> */

body {
    background-color: #11041d;
}

/*----- Html game elements -----*/

#background {
    background-image: url("images/11.jpg");
    background-color: #000;
    background-size: cover;
    overflow: hidden;
    height: 1000px;
    width: 1200px;
    position: relative;
    animation: movingback 60s linear infinite;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

@keyframes scrollingback {
  from {
    background-position-y: 0px;
  }
  to {
    background-position-y: 800px;
  }
}

#spaceship {
    background-image: url("assets/img/spaceship.png");
    background-size: cover;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 750px;
    left: 550px;
}
